<!DOCTYPE html>
<head>
    <title>{{ book.book_title }}</title>

</head>
<body>
<h1> {{ book.id}}. {{book.book_title }}</h1>
Author:<h3>{{book.book_author}}</h3>
<br>
{{ book.book_edition }}
<br>


{{ book.book_format }}
<br>

{{ book.book_pages }} pages
<br>

{{ book.book_excerpt }}

</body>
</html>

<form action="{% url 'loginform:book_delete' book.id %}">
    <input type="submit" value="Delete This Book" />
</form>

<form action="{% url 'loginform:book_update' book.id %}">
    <input type="submit" value="Edit this Book" />
</form>