{% if request.user.is_authenticated %}
    <p>hello</p>
    <p>welcome {{ request.user.email }}</p>

    <form action="{% url 'loginform:logout'  %}">
    <input type="submit" value="Log Me out" />
    </form>
    <br>


    {% if book_list %}
        <ul>
            {% for book in book_list %}
                <li>{{ book.id }} . <a href="{% url 'loginform:book_detail' book.id %}">{{ book.book_title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No books are available.</p>
    {% endif %}

    <form action="{% url 'loginform:book_create' %}">
        <input type="submit" value="Add new Book"/>
    </form>

{% else %}
    please register to view this book
{% endif %}


